@import "tailwindcss";
@variant dark (&:where(.dark *));
@font-face {
    font-family: 'Overpass Mono';
    src: url('/assets/fonts/OverpassMono-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Overpass Mono';
    src: url('/assets/fonts/OverpassMono-Bold.woff2') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@theme {
    --font-mono: 'Overpass Mono', monospace;
}

.token.deleted {
	background-color: hsl(350deg 100% 88% / 47%);
}
.token.inserted {
	background-color: hsl(120deg 73% 75% / 35%);
}

:where(.dark *) .token.deleted {
	background-color: hsl(350deg 70% 35% / 50%);
}
:where(.dark *) .token.inserted {
	background-color: hsl(120deg 50% 30% / 40%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
}