---
layout: base
title: "Homepage"
links:
  [
    { name: "GitHub", href: "https://github.com/nkdem" },
    { name: "LinkedIn", href: "https://www.linkedin.com/in/nikodemb" },
  ]
---

<article class="flex flex-col gap-y-4">
  <h1 class="uppercase font-bold">About me</h1>
    <p class="text-sm">
      Hi, I'm Nikodem (niko), an aspiring software engineer.  
    </p>

    <p class="text-sm">
      My main interests are in infrastructure and backend development, particularly cloud computing, distributed systems, and DevOps. I consider myself a versatile programmer, thanks to early exposure to different technologies.
    </p>
    <p class="text-sm">
      Outside of tech, I enjoy classical music (inspired by my years playing the piano), as well as hiking, cycling, and going to the gym.
    </p>

  <h1 class="uppercase font-bold">Links</h1>
  <ul class="list-dash text-sm">
    {% for link in links %}
    <li>
      <a href="{{ link.href }}" class="text-red-800 hover:underline font-bold">
        {{ link.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h1 class="uppercase font-bold">Contact</h1>
  <p class="text-sm">
    You can contact me at contact at nkdem dot net(<a
      href="/assets/pgp.asc"
      class="text-red-800 text-sm"
      >PGP</a
    >)
  </p>
</article>
