---
title: Not Specified
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}

      <footer class="site-footer">
<p>Site Version: <a class="text-blue-300 underline" href="https://github.com/nkdem/personal-site/tree/{{ site.version }}">{{ site.version }}</a></p>
</footer>
  </body>
</html>